@charset "UTF-8";
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #0992d3;
  padding: 0 5%;
  font-family: "Ephesis", cursive;
  letter-spacing: 3px;
}
.header .hamburger-menu {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 10px;
  z-index: 1000;
}
.header .hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #0992d3;
  margin: 5px 0;
  transition: 0.4s;
}
.header .hamburger-menu.change .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.header .hamburger-menu.change .bar:nth-child(2) {
  opacity: 0;
}
.header .hamburger-menu.change .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
.header .navigation ul {
  list-style: none;
  display: none;
  /* メニューはデフォルトで非表示 */
  margin: 0;
  padding: 0;
  position: fixed;
  /* メニューを画面に固定 */
  right: 0;
  /* 右側に配置 */
  top: 60;
  /* 上端からの位置 */
  background-color: rgba(248, 248, 248, 0.9294117647);
  flex-direction: column;
  width: 170px;
  /* メニューの幅を指定 */
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.header .navigation ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}
.header .navigation ul li a:hover {
  text-decoration: none;
  color: rgb(7, 197, 255);
}
.header .navigation ul.show {
  display: block;
}
