.memberRegister-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
  padding-bottom: 3%;
}
.memberRegister-container .flash {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}
.memberRegister-container .error li {
  margin-bottom: 5px;
  color: red;
}
.memberRegister-container .error li:last-child {
  margin-bottom: 20px;
}
.memberRegister-container .title-wrap,
.memberRegister-container .img-wrap,
.memberRegister-container .detail-wrap,
.memberRegister-container .fee-wrap,
.memberRegister-container .submit-wrap {
  margin-top: 20px;
}
.memberRegister-container .detail-wrap textarea {
  vertical-align: top;
  width: 65%;
}
.memberRegister-container h1 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
