.pt-12 {
  background-color: #f8f8f8;
  padding: 3%;
  margin: 3%;
}
.pt-12 .mx-auto {
  margin: auto;
}
.pt-12 .border {
  border: 1px solid #ddd;
}
.pt-12 .rounded-lg {
  border-radius: 0.5rem;
}
.pt-12 h1 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
}
.pt-12 h2 {
  font-size: 1.2rem;
  color: #333;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.pt-12 p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

.footer {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
}
