/* デスクトップ版のスタイル */
.person-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.person {
    width: 30%;
    /* 各メンバーの幅を30%に設定 */
    margin: 10px;
    /* 余白を設定 */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
}

.person img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 4px;
    transition: transform 0.3s ease;
    /* アニメーション効果 */
}

/* ホバー時の画像スタイル */
.person:hover img {
    transform: scale(1.1);
    /* 少し拡大する */
}

.person:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* メディアクエリを使用して、スマートフォン版のスタイルを定義 */
@media (max-width: 768px) {
    .person-container {
        flex-direction: column;
        align-items: center;
    }

    .person {
        width: 100%;
        /* スマホ版では幅を80%に */
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 15px;
        background-color: white;
    }

    .person img {
        width: 100%;
        max-width: 200px;
        height: auto;
        border-radius: 4px;
        transition: transform 0.3s ease;
        /* アニメーション効果 */
    }




    /* ホバー時の画像スタイル */
    .person:hover img {
        transform: scale(1.1);
        /* 少し拡大する */
    }

    .person:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

}