.toolbar {
    background-color: #000;
    padding: 10px;
    display: flex;
    column-gap: 30px;

    a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;

        &:hover {
            color: rgba(255, 255, 255, .8);
        }

        @media screen and (min-width:768px) {
            font-size: 16px;
        }
    }
}

.admin-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    padding-bottom: 3%;

    h1 {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .item {
        margin-bottom: 30px;
        display: flex;
        column-gap: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, .5);
        padding-bottom: 20px;
        padding-top: 20px;

        .edit,
        .delete {
            display: inline-block;
            color: #eb4034;
            font-size: 14px;

            &:hover {
                color: rgba(235, 64, 52, .5)
            }

            ;
        }

        h2 {
            font-weight: bold;
        }

        img {
            width: 200px;
            height: auto;
        }

        p {
            margin-top: 10px;
            font-size: 14px;
        }
    }
}