.member-container {

    padding: 30px 20px;

    .person-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1%;
        row-gap: 40px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;

        .person {

            background-color: #fff;
            padding: 2% 1%;

            .addcart {
                border: none;
            }

            p:nth-of-type(1) {
                line-height: 1.3em;
                margin-bottom: 10px;
                padding: 10px;
                text-align: center;
            }

            p:nth-of-type(2) {
                margin: 10px;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            form {
                margin-top: 20px;
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    h1 {
        font-size: 25px;
        text-align: center;
    }

    .image-container {
        position: relative;
        text-align: center;

        img {
            width: 100%;
            height: auto;
            display: block; // 画像をブロック要素として表示
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.6); // 暗いカバー
            color: white; // テキストの色を白に
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                margin: 0;
            }
        }
    }




}