// プライバシーポリシーのコンテンツ部分
.pt-12 {
    background-color: #f8f8f8;
    padding: 3%;
    margin: 3%;

    .mx-auto {
        margin: auto;
    }

    .border {
        border: 1px solid #ddd;
    }

    .rounded-lg {
        border-radius: 0.5rem;
    }

    h1 {
        font-size: 1.8rem;
        color: #333;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.2rem;
        color: #333;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1rem;
        color: #666;
        line-height: 1.5;
    }
}

.footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;


}